/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-accent-color: #DB00FF;
  --font-family: "IBM Plex Mono", sans-serif;
  --page-bg-image: url('../images/cover-image-dark.png');
}

.header.decorated-zone .header__rec {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__rec::before {
  content: "REC";
}

[data-theme="dark"],
.theme-dark .header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
  padding: 0.5px 12px;
}

[data-theme="dark"],
.theme-dark .header__theme-menu-button:hover {
  border: 1px solid var(--less-saturated-accent-color);
  padding: 0.5px 12px;
}

[data-theme="dark"],
.theme-dark .header__theme-menu-button:focus-visible {
  text-decoration: underline solid var(--accent-color);
}
