/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

  :root.theme-light {
  --main-color: #ffeef6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-accent-color: #FFC2E6;
  --font-family: "IBM Plex Mono", sans-serif;
  --page-bg-image: url('../images/cover-image-light.png');
}

.header__rec {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-color: #ffeef6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-accent-color: #FFC2E6;
  --font-family: "IBM Plex Mono", sans-serif;
  --page-bg-image: url('../images/cover-image-light.png');
  }
} 

.header__theme-menu-item {
  color: var(--text-color);
}

.section-title {
  color: var(--text-color);
}

.title-decor {
  color: var(--text-color);
}

.header__theme-menu-button_type_dark {
  border: none;
}

[data-theme="light"] .header__theme-menu-button_type_light,
.theme-light .header__theme-menu-button_type_light {
  border: 1px solid var(--text-color);
  padding: 0.1px 12px;
}

[data-theme="light"],
.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--less-saturated-text-color);
  padding: 0.5px 12px;
}

[data-theme="light"],
.theme-light .header__theme-menu-button:focus-visible {
  text-decoration: underline solid var(--text-color);
}
