/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

  :root.theme-light {
  --main-color: #ffeef6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-accent-color: #FFC2E6;
  --font-family: "IBM Plex Mono", sans-serif;
  --page-bg-image: url('../images/cover-image-light.png');
}

.header__rec {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-color: #ffeef6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-accent-color: #FFC2E6;
  --font-family: "IBM Plex Mono", sans-serif;
  --page-bg-image: url('../images/cover-image-light.png');
  }
} 

.header__theme-menu-item {
  color: var(--text-color);
}

.section-title {
  color: var(--text-color);
}

.title-decor {
  color: var(--text-color);
}