/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--main-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: var(--font-family);
}

header {
  height: 668px;
}

.header__text {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  left: auto;
  right: clamp(10px, calc(10px + 10 * (100vw - 375px) / 393), 20px);
  top: calc(485px + min(239px, max(0px, (100vw - 375px) * 239 / 393)) - max(0px, (100vw - 768px) * 161 / 256));
  width: calc(355px + min(9px, max(0px, (100vw - 375px) * 9 / 393)) + max(0px, (100vw - 768px) * 127 / 256));
}

.header__theme-menu {
  position: absolute;
  right: 10px;

}

.section-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 23.4px;
  letter-spacing: 0%;
}

.title-decor {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--accent-color);
}

.accent-title {
  font-weight: 700;
  
}

.two-column-section:first-of-type {
  padding-top: calc(
      40px + min(20px, max(0px, (100vw - 375px) * 20 / 393)));
}

.tips-section {
  margin-top: clamp(50px, calc(50px + 30 * (100vw - 375px) / 393), 80px);
}

.two-column-section {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
}

.section-title {
  font-size: 18px;
  color: var(--accent-color);
  line-height: 23.4px;
  background-color: var(--main-color);
}

.title-decor {
  margin-bottom: 10px;
}
.middle-section .section-title {
  margin-top: clamp(50px, calc(50px + 30 * (100vw - 375px) / 393), 80px);
}

.header__title {
  color: var(--title-accent-color);
  letter-spacing: 0%;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  position: absolute;
  margin: 0; 
  left: clamp(0px, calc(10px - 10 * (100vw - 375px) / 393), 0px);
  top: calc(238px + clamp(0px, (100vw - 375px) * 229 / 393, 229px) - max(0px,(100vw - 768px) * 148 / 256));
}

.header__theme-menu-button {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1.5px 13px;
  margin: 0;
  text-transform: lowercase;
}

main {
  background-color: var(--main-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  color: var(--accent-color);
}

.footer__title {
  color: var(--title-accent-color);
  letter-spacing: 0%;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 375px) and (max-width: 768px) {
  .header {
    height: calc(668px + 356 * (100vw - 375px) / 393);
  }
  .header__title {
    margin-left: calc(10px - 10 * (100vw - 375px) / 393);
  }
  main {
    padding-left: calc(10px + 10 * (100vw - 375px) / 393);
    padding-right: calc(10px + 10 * (100vw - 375px) / 393);
  }
}

@media (min-width: 375px) and (max-width: 1024px) {
  .header__theme-menu {
    top: calc(75px + 193 * (100vw - 375px) / 649);
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: calc(1024px - 256 * (100vw - 768px) / 256);
  }
  main {
    padding-left: calc(20px - 10 * (100vw - 768px) / 256);
    padding-right: calc(20px - 10 * (100vw - 768px) / 256);
  }
}

@media (min-width: 768px) {
  .header__title {
    margin-left: 0;
  }
}

@media (max-width: 376px) {
  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__theme-menu {
    top: 75px;
  }
  .header__title {
    margin-left: 10px;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
    /* img {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    display: block;
    } */
}

@media (min-width: 376px) {
    .header__title,
    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (max-width: 1023px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    
  }
}

@media (min-width: 1024px) {
  .header {
    height: 768px;
  }
  .header__theme-menu {
    right: auto;
    top: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
