/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-bg-image);
  background-color: var(--main-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: var(--font-family);
}

header {
  height: 668px;
}

.header__text {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  left: auto;
  right: clamp(10px, calc(10px + 10 * (100vw - 375px) / 393), 20px);
  top: calc(485px + min(239px, max(0px, (100vw - 375px) * 239 / 393)) - max(0px, (100vw - 768px) * 161 / 256));
  width: calc(355px + min(9px, max(0px, (100vw - 375px) * 9 / 393)) + max(0px, (100vw - 768px) * 127 / 256));
}

.header__theme-menu {
  position: absolute;
  right: 10px;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 23.4px;
  letter-spacing: 0%;
}

.title-decor {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.middle-section .accent-title,
.reasons-section .accent-title {
  margin-top: 20px;
}
.accent-title {
  font-weight: 700;
}

.two-column-section:first-of-type {
  padding-top: calc(
      40px + min(20px, max(0px, (100vw - 375px) * 20 / 393)));
}

.tips-section {
  margin-top: clamp(50px, calc(50px + 30 * (100vw - 375px) / 393), 80px);
}

.two-column-section {
  display: block;
  grid-template-columns: 1fr; 
  gap: 20px;
}

.section-title {
  font-size: 18px;
  color: var(--accent-color);
  line-height: 23.4px;
  background-color: var(--main-color);
}

.middle-section .section-title {
  width: 100%;
  margin-top: clamp(50px, calc(50px + 30 * (100vw - 375px) / 393), 80px);
}

.header__title {
  color: var(--title-accent-color);
  letter-spacing: 0%;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  position: absolute;
  margin: 0; 
  left: clamp(0px, calc(10px - 10 * (100vw - 375px) / 393), 0px);
  top: calc(238px + clamp(0px, (100vw - 375px) * 229 / 393, 229px) - max(0px,(100vw - 768px) * 148 / 256));
}

.header__theme-menu-button {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1.5px 13px;
  margin: 0;
  text-transform: lowercase;
}

.tips-section .section-title {
  margin-bottom: 20px;
}

.tips .title-decor {
  margin-top: 20px;
}

main {
  background-color: var(--main-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.middle-section {
  display: block;
  gap: 20px;
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

footer {
  background-color: var(--main-color);
  min-height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  color: var(--accent-color);
}

.gallery-title {
  margin-top: clamp(50px, calc(50px + 30 * (100vw - 375px) / 393), 80px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.picture {
  width: 100%;
  height: auto;
}


.footer__title {
  color: var(--title-accent-color);
  letter-spacing: 0%;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 375px) and (max-width: 768px) {
  .header {
    height: calc(668px + 356 * (100vw - 375px) / 393);
  }
  .header__title {
    margin-left: calc(10px - 10 * (100vw - 375px) / 393);
  }
  main {
    padding-left: calc(10px + 10 * (100vw - 375px) / 393);
    padding-right: calc(10px + 10 * (100vw - 375px) / 393);
  }
}

@media (min-width: 375px) and (max-width: 1024px) {
  .header__theme-menu {
    top: calc(75px + 193 * (100vw - 375px) / 649);
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: calc(1024px - 256 * (100vw - 768px) / 256);
  }
  main {
    padding-left: calc(20px - 10 * (100vw - 768px) / 256);
    padding-right: calc(20px - 10 * (100vw - 768px) / 256);
  }
  
}

@media (min-width: 768px) {
  .header__title {
    margin-left: 0;
  }
  .middle-section .section-title {
    width: clamp(236px, calc(236px + (100vw - 768px) * 0.3), 100%);
  }
  .two-column-section {
    display: grid;
    grid-template-columns:minmax(236px, calc(236px + (314 - 236) * (100vw - 768px) / (1024 - 768))) 1fr;
    gap: 20px; 
    align-items: start;
  }

  .two-column-section .section-title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
  .two-column-section > div {
    grid-column: 2;
  }
  .tips{
  margin-top: -100px;
  }
  .gallery {
    display: grid;
    grid-template-areas:
      "img1 img1 img2"
      "img3 img4 img2"
      "img3 img5 img5";
    grid-template-columns: 
      minmax(auto, calc(229px * (100vw / 768)))
      minmax(auto, calc(230px * (100vw / 768)))
      minmax(auto, calc(229px * (100vw / 768)));
    grid-template-rows: 
      minmax(auto, calc(192px * (100vw / 768)))
      minmax(auto, calc(230px * (100vw / 768)))
      minmax(auto, calc(320px * (100vw / 768)));
    gap: 20px;
  }
  
  .picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .picture:nth-child(1) { 
    grid-area: img1; 
  }
  .picture:nth-child(2) { 
    grid-area: img2; 
  }
  .picture:nth-child(3) { 
    grid-area: img3; 
  }
  .picture:nth-child(4) { 
    grid-area: img4; 
    justify-self: center;
  }
  .picture:nth-child(5) { 
    grid-area: img5; 
  }

  footer {
    min-height: 1024px;
  }
}

@media (min-width: 769px) {
  footer {
    min-height: calc(1024px - 256 * (100vw - 768px) / 256);
  }
}


@media (max-width: 376px) {
  .header__title,
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__theme-menu {
    top: 75px;
  }
  .header__title {
    margin-left: 10px;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 375px) {
    .header__title,
    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    footer {
    min-height: calc(668px + 356 * (100vw - 375px) / 393);
  }
}

@media (max-width: 1023px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    
  }
}

@media (min-width: 1024px) {
  .header {
    height: 768px;
  }
  .header__theme-menu {
    right: auto;
    top: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .middle-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    min-height: 768px;
  }
}
